<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet"/>
    <!-- Load an icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="navbar">
      <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="https://github.com/geewynn/nlp_projects/tree/master/Tag%20Generator" target="_blank"><i class="fa fa-fw fa-github"></i> Github</a>
      <a href="mailto:ekainugodwin@gmail.com"><i class="fa fa-fw fa-envelope" target="_blank"></i> Mail Me</a>
      <a href="https://www.linkedin.com/in/godwin-ekainu-34a50b127/" target="_blank"><i class="fa fa-fw fa-globe"></i> Linkedin</a>
      <a href= "https://github.com/geewynn/nlp_projects/blob/master/Tag%20Generator/README.md"target="_blank"><i class="fa fa-fw fa-github"></i> About</a>
    </div>


<div>

    <div style="text-align: center">
        <h1 style= "color:#000000; text-align: center">Welcome to the Tags Auto Generator.</h1>
        <hr>
        <p class="content">
            This app helps generates tags for your contents and can give you insights about a specific content.<br>
            I can auto generate tags from given contents based on how many tags you want. <br>
        </p>
        <button class="btn-block" style="color: burlywood"><a href='/modelling' method="GET">Try me!</a></button>
    </div>



</div>
</body>
</html>