<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet"/>
    <!-- Load an icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <div class="navbar">
      <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="https://github.com/geewynn/nlp_projects/tree/master/Tag%20Generator" target="_blank"><i class="fa fa-fw fa-github"></i> Github</a>
      <a href="mailto:ekainugodwin@gmail.com"><i class="fa fa-fw fa-envelope" target="_blank"></i> Mail Me</a>
      <a href="https://www.linkedin.com/in/godwin-ekainu-34a50b127/" target="_blank"><i class="fa fa-fw fa-globe"></i> Linkedin</a>
      <a href= "https://github.com/geewynn/nlp_projects/blob/master/Tag%20Generator/README.md"target="_blank"><i class="fa fa-fw fa-github"></i> About</a>
    </div>

<div class="container">
    <div class="header-content-inner">
        <h1 style= "color:#000000;">Words </h1>

{#        <textarea rows="20" cols="75" style = "background:rgba(0, 0, 0, 0); color:#000000;">#}
{#            {{ words }}#}
{#        </textarea>#}
        {% for word in words %}
            {{ word }}
        {% endfor %}
    </div>
    <form action="/modelling">
        <input type="submit" class = "btn btn-primary btn-xl page-scroll" value="Again?" />
    </form>


</div>
</body>
</html>