<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

    <div class="navbar">
      <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="https://github.com/geewynn/Machine-Learning-Project/tree/master/Credit%20Score%20Model" target="_blank"><i class="fa fa-fw fa-github"></i> Github</a>
      <a href="mailto:ekainugodwin@gmail.com"><i class="fa fa-fw fa-envelope" target="_blank"></i> Mail Me</a>
      <a href="https://www.linkedin.com/in/godwin-ekainu-34a50b127/" target="_blank"><i class="fa fa-fw fa-globe"></i> Linkedin</a>
    </div>
    
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading" style= "color:#000000;">Welcome to the topic modelling app.</h1>
                <hr>
                <p class="content", style= "color:#000000;">I can suggest tags for you from a group of words.</p>
                <a href='/modelling' class="btn btn-primary btn-xl page-scroll" method="GET">Try me!</a>
            </div>
        </div>
</body>
</html>