<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>model</title>
</head>
<body>

    <div class="navbar">
      <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="https://github.com/geewynn/Machine-Learning-Project/tree/master/Credit%20Score%20Model" target="_blank"><i class="fa fa-fw fa-github"></i> Github</a>
      <a href="mailto:ekainugodwin@gmail.com"><i class="fa fa-fw fa-envelope" target="_blank"></i> Mail Me</a>
      <a href="https://www.linkedin.com/in/godwin-ekainu-34a50b127/" target="_blank"><i class="fa fa-fw fa-globe"></i> Linkedin</a>
    </div>


        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading", ; style= "color:#000000;">Input Text below </h1>
                <hr>
                      <form action = "/text" method="POST" action=".">
                        <input type= "text" , wrap = "soft", cols = "50", name = "text" placeholder = "Copy and Paste books, articles, text" style= "overflow-wrap:auto; font-size: 14pt; color:#000000; box-sizing:border-box; width:100%; -moz-box-sizing:border-box; padding:4px;">
                        <!-- <input id="textfield" name="textfield" type="text" placeholder="enter something" /> -->
                        <input type= "number" , wrap = "soft", cols = "50", name = "length" placeholder = "How many sentences words do you want?" style= "overflow-wrap:auto; font-size: 14pt; color:#000000; box-sizing:border-box; width:100%; -moz-box-sizing:border-box; padding:4px;">
                        <input type = "submit" class="btn btn-primary btn-xl page-scroll" />
                      </form>

                </hr>
            </div>
        </div>
</body>
</html>