<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="/static/css/style.css" rel="stylesheet"  type="text/css"/>
</head>
<body>
    <header>
        <img src="/static/img/wizlogo.jpeg" alt="wiz-logo" >
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="https://github.com/geewynn/nlp_projects/blob/master/Wizkid%20Lyrics%20Generator/README.md#wizkid-song-lyric-generator" target="_blank">About</a></li>
                <li><a href="https://github.com/geewynn" target="_blank">Github</a></li>
                <li><a href="https://www.linkedin.com/in/godwin-ekainu-34a50b127/" target="_blank">LinkedIn</a></li>
                <li><a href="mailto:ekainugodwin@gmail.com" target="_blank">Email</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <h1 style= "text-align: center">Wizkid Song Lyrics Prediction.</h1>
        <hr>
        <p style="text-align: center; color: white">
            Wizkid Song Lyrics Predictor is a fun project built by training a LSTM model on 50 of Wizkids songs.<br>
        <div style="text-align: center ; color: white">
            WizKid(Ayodeji Ibrahim Balogun) is a Nigerian Superstar Musician. He has released various hit music since he signed for Empiree Mates Entertainment (E.M.E).<br>
            He is known both in the local and International scenes, he has partnered with various artists and has won various awards<br>
            His music genre are Afrobeats, reggae, dancehall, hip-hop and pop.<br>
            Read More about <a href="https://en.wikipedia.org/wiki/Wizkid">WIZKID</a><br>
        </div>
        <a href='/predictor' method="GET">Check it out!</a>
    </div>

    </main>

</body>
</html>