<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="/static/css/style.css" rel="stylesheet"  type="text/css"/>
</head>
<body>
    <header>
        <img src="/static/img/wizlogo.jpeg" alt="wiz-logo" >
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Github</a></li>
                <li><a href="https://www.linkedin.com/in/godwin-ekainu-34a50b127/">LinkedIn</a></li>
                <li><a href="mailto:ekainugodwin@gmail.com">Email</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <h1 style= "text-align: center">Wizkid Lyrics Predictor.</h1>
        <hr>
        <p style="text-align: center">
            Wizkid Lyrics Generator is a fun project built by training a LSTM model on 80 of Wizkids songs.<br>
        <div style="text-align: center">
            WizKid(Ayodeji Ibrahim Balogun) is a Nigerian Superstar Musician. He has released various hit music since he signed for Empiree Mates Entertainment (E.M.E).<br>
            He is known both in the local and International scenes, he has partnered with various artists and has won various awards<br>
            His music genre are Afrobeats, reggae, dancehall, hip-hop and pop.<br>
            Read More about <a href="https://en.wikipedia.org/wiki/Wizkid">WIZKID</a><br>
        </div>
        <button><a href='/predictor' method="GET">Check it out!</a></button>
    </div>

    </main>

</body>
</html>